body {
  text-align: center;
  margin: 0;
  margin-bottom: 0;
}

.strong {
  text-decoration: underline;
}

.top-container {
  background-color: #a6e3e9;
  padding-top: 60px;
  position: relative;
}

.middle-container {
  background-color: #cbf1f5;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.bottom-container {
  background-color: #e3fdfd;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 5px;
  }

.bold {
  font-weight: bold;
}

.block-img1 {
  display: inline;
  position: absolute;
  left: 450px;
  margin-top: 20px;
}

.block-img2 {
  display: inline;
  position: absolute;
  right: 500px;
  margin-top: 60px;
}

.block-img3 {
  display: inline;
  margin: 0;
  margin: 0;
}

.profile-img {
  border-radius: 50%;
  padding-bottom: 1rem;
}

.profile {
  padding-bottom: 20px;
  width: 50%;
  margin: auto;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img {
  float: left;
  width: 25%;
  margin-right: 30px;
  border-radius: 50%
}

.camera-img {
  float: right;
  width: 25%;
  margin-left: 30px;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 4.5rem;
  margin: 50px auto 0 auto;
  font-weight: normal;
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto 0 auto;
  font-weight: normal;
  font-size: 3rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

hr {
  border: 6px dotted #71c9ce;
  border-bottom: none;
  width: 5%;
  margin: 5% auto;
}
