body {
  font-family: Arial;
  margin: 0;
}

.top-container {
  background-color: #aee1e1;
  padding: 20px;
  border: solid 10px;
  border-color: #fcd1d1;
  height: 140px;
  width: 140px;
}

.middle-container {
  height: 160px;
  margin-left: 200px;
  width: 160px;
  border: solid 20px;
  background-color: #d3e0dc;
  border-color: #fcd1d1;
}

.bottom-container {
  height: 180px;
  width: 180px;
  margin-left: 400px;
  background-color: #ece2e1;
  border: solid 10px;
  border-color: #fcd1d1;
}
